.url-container {
    max-width: 200px;
    overflow: auto;
}

/* Add this to your Dashboard.css */
table.table tbody tr {
    height: 1rem;
    text-align: center;
}

table.table thead tr {
    height: 1rem;
    text-align: center;
}